Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/tasks — список задач<br>
/add Название задачи, Срок выполнения, Статус — добавить задачу<br>
/del Id задачи <br>
/upd ID Задачи, Название задачи, Срок выполнения, Статус — добавить задачу<br>
